@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #f7f7f7;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 20px;
}


/* Background Color */
.default {
  background-color: rgb(255, 225, 191);
}
.red {
  background-color: rgb(241, 181, 181);
}
.yellow {
  background-color: rgb(249, 250, 175);
}
.blue {
  background-color: rgb(67, 78, 179);
  color: #fff;
}

.title-shadow-default {
    text-shadow: 5px 5px 20px rgba(0,0,0,0.25), -5px -5px 20px rgba(0,0,0,0.24);
}

.title-shadow-red {
    text-shadow: 5px 5px 20px rgb(247, 166, 166), -5px -5px 20px rgba(241, 181, 181);
}
.title-shadow-yellow {
    text-shadow: 5px 5px 20px rgb(215, 218, 70), -5px -5px 20px rgb(236, 238, 125);
}
.title-shadow-blue {
    text-shadow: 5px 5px 20px rgb(109, 118, 194), -5px -5px 20px rgb(98, 107, 189);
}



/* General Style */

.container {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}

.container-shadow-header {
  box-shadow: 0 -3px 16px 0 rgba(0,0,0,0.2), 0 -2px 20px 0 rgba(0,0,0,0.19);
}

.container-shadow {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.container-task {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 15px rgba(0,0,0,0.19);
  border-radius: 10px;
  border: 1px solid rgb(138, 138, 138);
}

.h6 {
  font-size: 1.75rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.h5 {
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.h4 {
  font-size: 3.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.h3 {
  font-size: 4rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.h2 {
  font-size: 4.75rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.h1 {
  font-size: 5.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


/* Button Style */
.btn {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
  padding: 10px 15px;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  background-color: rgb(157, 228, 140);
}

.btn:active {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
  padding: 10px 15px;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  color: rgb(82, 82, 82);
}



/* Container Style */

.header-actions, .header-title, .task-title, .task-status {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.header-container {
  border-bottom: 1px solid rgb(138, 138, 138);
  height: 80px;
  display: flex;
  align-items: center;
}

.header-title {
  width: 70%;
  text-align: center;
}

.header-title-text {
}

.header-actions {
  width: 30%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.task-card-container {
  height: 80px;
  display: flex;
  border-bottom: 1px solid rgb(138, 138, 138);
}

.task-card-container:last-child {
  height: 80px;
  display: flex;
  border-bottom: none;
}

.task-title {
  width: 70%;
  height: auto;
  align-self: center;
}

.task-title-text {
  font-size: 1.2em;
}

.task-status {
  width: 30%;
  height: auto;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}

.action-button-img {
  width: 1.75em;
  height: 1.75em;
}

.action-button {
  cursor: pointer;
  display: inline-block;
}

.delete-button-img {
  width: 1.75em;
  height: 1.75em;
}

.delete-button {
  cursor: pointer;
}

.add-button-wrap {
  
  align-content: center;
  display: flex;
  margin-bottom: 35px;
  cursor: pointer;
}

.add-button {
  display: flex;
  width: 100%;
  justify-content: center;
}

.add-button-img {
  width: 2rem;
  height: 2rem;
  align-self: center;
}

.add-button-text {
  margin-right: 5px;
  /* font-size: 1.8rem; */
}

.header-action-text {
  display: inline-block;
  
}


/* Add Task Modal */

.add-task-modal {
  background-color: rgba(0,0,0, 0.75);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: .5s ease;
}



.add-task-modal-contents {
  background-color: #f0efeb;
  display: flex;
  width: 40%;
  max-width: 1024px;
  min-height: 250px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: default;
  border-radius: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
}

.add-task-modal-header {
  margin-bottom: 14px;
}

.add-task-modal-body {
  width: 100%;
  text-align: center;
}

.add-task-modal-input {
  width: 80%;
  height: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  margin-bottom: 10px;
  border-radius: 7px;
}

.add-task-modal-submit {
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
}

.add-task-modal-submit-button {
  padding: 10px;
  width: 80%;
  cursor: pointer;
}

.add-task-modal-back {
  justify-content: center;
  display: flex;
}

.add-task-modal-back-button {
  padding: 10px;
  width: 80%;
  cursor: pointer;
  margin-bottom: 10px;
}

.add-task-modal-add-input-button-wrap {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.add-task-modal-add-input-button {
  cursor: pointer;
  margin-bottom: 10px;
}

.add-task-modal-add-input-img {
  width: 2em;
  height: 2em;
}



/* Navbar Style */

.nav-container {
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 43px;
}

.nav-menu {
  list-style: none;
}

.nav-item {
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

.nav-menu > li {
  color: aqua;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-active {
  color: #000;
  font-weight: 600;
}











/* Media Queries */

@media screen and (max-width: 724px) {
  .add-task-modal-contents {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 90%;
    max-width: 1024px;
    min-height: 250px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: default;
    border-radius: 8px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
  }
  .h6 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
  }
  .header-title {
    /* width: 65%; */
    text-align: left;
    margin-left: 0.5em;
  }
  .header-actions {
    /* width: 35%; */
    /* text-align: center; */
  }
}